<h1>Idiots</h1>

<div *ngIf="loading">
  <p>
    <ngb-progressbar type="info" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
  </p>
</div>

<p>
  <mdb-checkbox [checked]="filter.drafts" [default]="true" (change)="draftsOnChange($event)">
    Drafts
  </mdb-checkbox>
</p>

<p>
  <a class="btn btn-success" role="button" routerLink='/idiots/new'>
    Create Idiot
  </a>
</p>

<table class="table" *ngIf="idiots.length > 0 && !loading">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        R* ID
      </th>
      <th>
        MomJoke
      </th>
      <th>
        Cheats
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let idiot of idiots" (click)="openIdiot(idiot)" [ngClass]="{'text-muted': idiot.discardedAt}">
      <td>{{ idiot.name }}</td>
      <td>{{ idiot.rStarId }}</td>
      <td>{{ idiot.momJoke }} ({{ idiot.momJokeRatio }})</td>
      <td>{{ idiot.cheats }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="idiots.length === 0 && !loading">
  The idiot list is empty
</div>
