
<form (ngSubmit)="onSubmit()" [formGroup]="authForm">
  <div class="form-group">
    <label for="nickname">Nagibatelname</label>
    <input type="text" class="form-control" id="nickname" placeholder="Wstawiere Nagibatelname" formControlName="nickname">
    <small id="emailHelp" class="form-text text-muted">Wstawieren Sie bitte ein Nagibatelname um Idioten zu woslübieren</small>
  </div>
  <div class="form-group">
    <label for="password">Passwordung</label>
    <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" required="true">
  </div>
  <div class="form-group">
    <button type="submit" mdbBtn color="primary" mdbWavesEffect>
      Salogieren zu woslübieren
    </button>
  </div>
</form>
