


<div id="header" class="row justify-content-md-center">
  <div class="col-md-2">
    <img class="img-fluid" src="assets/icon.png">
  </div>
  <div class="col-md-6">
    <h1 style="color: cornsilk;"><b>Anuspatron Getracht!</b></h1>
    <p style="color: goldenrod;"> <cite>Da wozlubirt Nahuyupropeller Dolboebundestag kutarperdyevskiy Pidarazung!</cite></p> 
    <p style="color: goldenrod;"> <cite>I Da ugostirt Anuspatronen Perdirt, I Palken Stalyugen Razkalieren zia Krankenpizdung zhopeporvaiternah! </cite></p>
  </div>
</div>


<div class="row justify-content-md-center">
  <div class="col-md-8">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="#" class="btn btn-outline-dark" style = "border-color: #21733f; color: cornsilk">Главная</a>
      <a routerLink="/idiots/new" class="btn btn-outline-dark" style = "border-color: #21733f; color: cornsilk">Добавить</a>
      <a href="#" class="btn btn-outline-dark" style = "border-color: #21733f; color: cornsilk">Профили</a>
      <a href="https://vk.com/indigosekte" class="btn btn-outline-dark" style = "border-color: #21733f; color: cornsilk">Группа ВК</a>
      <a href="#" class="btn btn-outline-dark" style = "border-color: #21733f; color: cornsilk">Скрипт синхронизации</a>
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-10">
    <div class="gradient-all">
      <table class="table table-sm table-dark">
        <thead>
          <tr style="background-color: #202021; color: goldenrod; border-color: #21733f">
            <th>Никнейм</th>
            <th>R* ID</th>
            <th>Mamkenschutken</th>
            <th>Читерастость</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let idiot of idiots">
            <td (click)="onRowClick(idiot)">
              {{ idiot.name }}
              <span *ngIf="idiot.autoKick" class="badge badge-danger" style="color: #dfc2c2">AutoKick</span>
              <span *ngIf="idiot.cheats === 'cheats_some'" class="badge badge-warning" style="background-color: blueviolet; color: #e2cce3">MOD</span>
              <span *ngIf="idiot.cheats === 'cheats_impulse'" class="badge badge-warning" style="background-color: chocolate; color: #6e3c02">IMP</span>
              <span *ngIf="idiot.agressive && !idiot.vip" class="badge badge-success" style="color: #0a3601;">AGR</span>
              <span *ngIf="idiot.vip" class="badge badge-success" style="background-color: goldenrod; color: #614b10">VIP</span>
            </td>
            <td (click)="onRowClick(idiot)">
              {{ idiot.rStarId }}</td>
            <td (click)="onRowClick(idiot)">
              {{ idiot.momJoke }}</td>
            <td (click)="onRowClick(idiot)">
              {{ idiot.cheats }}</td>
            <td>
              <img src="assets/icons/arrow_right_icon.png"/>
            </td>
          </tr>
        </tbody>
      </table>
    </div> 
  </div>
</div>


