<div *ngIf="!idiot">
  <p>
    <ngb-progressbar type="info" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
  </p>
</div>

<div *ngIf="idiot">
  <h1>{{ idiot.name }}</h1>

  <div class="row margin-30">
    <div class="col">
      <button type="button" mdbBtn gradient="aqua" rounded="true" mdbWavesEffect routerLink='/idiots'>
        <mdb-icon class="copy-icon" size="1x" fas icon="caret-left"></mdb-icon> Back
      </button>

      <button type="button" mdbBtn gradient="purple" rounded="true" mdbWavesEffect [routerLink]="'/idiots/' + idiot.id + '/edit'" *ngIf="!idiot.discardedAt">
        <mdb-icon class="copy-icon" size="1x" fas icon="user-edit"></mdb-icon> Edit
      </button>

      <button type="button" mdbBtn gradient="peach" rounded="true" mdbWavesEffect (click)="destroy()" *ngIf="!idiot.discardedAt">
        <mdb-icon class="copy-icon" size="1x" fas icon="user-times"></mdb-icon> Delete
      </button>

      <button type="button" mdbBtn class="btn aqua-gradient" rounded="true" mdbWavesEffect (click)="restore()" *ngIf="idiot.discardedAt">
        Restore
      </button>

      <button type="button" mdbBtn class="btn blue-gradient"
        rounded="true" mdbWavesEffect *ngIf="!idiot.discardedAt"
        routerLink="/profiles/new" [queryParams]="{ idiot_id: idiot.id, r_star_id: idiot.rStarId, name: idiot.name }">
        <mdb-icon class="copy-icon" size="1x" fas icon="plus"></mdb-icon> Create profile
      </button>

      <button type="button" mdbBtn class="btn blue-gradient" rounded="true"
        [routerLink]="'/messages'" [queryParams]="{ idiot_id: idiot.id, user_id: user.id }"
        mdbWavesEffect *ngIf="!idiot.discardedAt && user">
          <mdb-icon class="copy-icon" size="1x" fas icon="plus"></mdb-icon> View messages
      </button>
    </div>
  </div>

  <table class="table margin-30" [ngClass]="{'text-muted': idiot.discardedAt}">
    <tbody>
      <tr>
        <td>name</td>
        <td>{{ idiot.name }}</td>
      </tr>
      <tr>
        <td>rStarId</td>
        <td>{{ idiot.rStarId }}</td>
      </tr>
      <tr>
        <td>momJoke</td>
        <td>{{ idiot.momJoke }}</td>
      </tr>
      
      <tr>
        <td>cheats</td>
        <td>{{ idiot.cheats }}</td>
      </tr>

      <tr>
        <td>pazientDiagnos</td>
        <td>{{ idiot.pazientDiagnos }}</td>
      </tr>

      <tr>
        <td>comment</td>
        <td>{{ idiot.comment }}</td>
      </tr>

      <tr>
        <td>location</td>
        <td>{{ location }}</td>
      </tr>

      <tr>
        <td>ip</td>
        <td>{{ idiot.ip }}</td>
      </tr>

      <tr>
        <td>deathDateFormatted</td>
        <td>{{ idiot.deathDateFormatted }}</td>
      </tr>

      <tr>
        <td>agressive</td>
        <td>{{ (idiot.agressive ? 'yes' : 'no') }}</td>
      </tr>
      <tr>
        <td>warnMe</td>
        <td>{{ (idiot.warnMe ? 'yes' : 'no') }}</td>
      </tr>
      <tr>
        <td>autoKick</td>
        <td>{{ (idiot.autoKick ? 'yes' : 'no') }}</td>
      </tr>
      <tr>
        <td>freezePlayer</td>
        <td>{{ (idiot.freezePlayer ? 'yes' : 'no') }}</td>
      </tr>
      <tr>
        <td>blame</td>
        <td>{{ (idiot.blame ? 'yes' : 'no') }}</td>
      </tr>
      <tr>
        <td>explode</td>
        <td>{{ (idiot.explode ? 'yes' : 'no') }}</td>
      </tr>

      <tr>
        <td>createdAtFormatted</td>
        <td>{{ idiot.createdAtFormatted }}</td>
      </tr>
      <tr>
        <td>updatedAtFormatted</td>
        <td>{{ idiot.updatedAtFormatted }}</td>
      </tr>
    </tbody>
  </table>  
</div>
