<h1>Invite user</h1>

<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" mdbBtn color="success" mdbWavesEffect type="submit">Invite</button>
    </div>
  </div>
</form>
